*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
header{
    background-color: brown;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    height: 100px;
    width: 100%;
    align-items: center;
    padding: 20px;
    
}
main{
    background-color: black;
    width: 100%;
    height: 500px;
   justify-content: center;
   align-items:center ;
   position: relative;
}
h1{
    color: white;
    justify-content: center;
    text-align: center;
    justify-content: center;
    

}
p{
    color: red;
    text-align: center;
    justify-content: center;
    
}
#div-container{
    background-color: blue;
    width: 1300px;
    height: 500px;
}
h1,p{
    align-items: center;
}